<!DOCTYPE html>
<html>
    <head>
        <title>Classificatore immagini</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <!-- Navbar (sit on top) -->
        <div class="w3-top">
            <div class="w3-bar" id="myNavbar">
                <a href="/" class="w3-bar-item w3-button">HOME</a>
                <span class="w3-bar-item w3-button w3-right" onclick="loginModal()">Login <i class="fa fa-duotone fa-user"></i></span>
            </div>
        </div>

        <!-- First Parallax Image with Logo Text -->
        <div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
            <div class="w3-display-middle" style="white-space:nowrap;">
                <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">MY <span class="w3-hide-small">WEBSITE</span> LOGO</span>
            </div>
        </div>

        <!-- Modal for login onclick="this.style.display='none'"-->
        <div id="modalLogin" class="w3-modal">
            <span class="w3-button w3-large w3-light-grey w3-display-topright" 
                onclick="document.getElementById('modalLogin').style.display='none'"
                title="Close Modal Image">
                    <i class="fa fa-remove"></i>
            </span>
            <div class="w3-white w3-animate-zoom w3-center" style="width: 40%; margin-left: auto;margin-right: auto;">
                <h1>Login</h1>
                <form method="post" action="/login/logon">
                    <input class="form-control me-2" placeholder="username o email" type="text" name="username" ><br>
                    <input class="form-control me-2" placeholder="password" type="password" name="passwd" ><br>
                    <input type="submit" value="Login">
                </form>
                <% if(locals.loginError){ %>
                    <p style="color: red;" id="loginError"> <%= loginError %></p>
                <% } %>
            </div>
        </div>

        <!-- Footer -->
        <footer class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off">
            <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
            <div class="w3-xlarge w3-section">
                <i class="fa fa-facebook-official w3-hover-opacity"></i>
                <i class="fa fa-instagram w3-hover-opacity"></i>
                <i class="fa fa-snapchat w3-hover-opacity"></i>
                <i class="fa fa-pinterest-p w3-hover-opacity"></i>
                <i class="fa fa-twitter w3-hover-opacity"></i>
                <i class="fa fa-linkedin w3-hover-opacity"></i>
            </div>
        </footer>
        
        <script>
            function loginModal() {
                document.getElementById("modalLogin").style.display = "block";
            }
        </script>
        <% if(locals.loginError){ %>
            <script>loginModal();</script>
        <% } %>
    </body>
</html>
