<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/p5.min.js"></script>
<script src="https://unpkg.com/ml5@latest/dist/ml5.min.js"></script>

<!-- MAIN -->
<div class="w3-content w3-container w3-padding-64" id="portfolio">    
    <form action="/img/save" method="post" enctype="multipart/form-data">
        <input type="file" name="img" id="imgInput" onchange="processImg(this)" accept="image/*">
        <input type="hidden" name="nome" id="nome">
        <input type="hidden" name="prob" id="prob">
        <input type="submit" value="upload" id="upImg" disabled> 
    </form>
    <p id="imgElaborated" style="display: none; color: green;">Immagine elaborata ;)</p>
    <% if(locals.err){ %>
        <p style="color: red;"> <%= err %></p>
    <% } %>
</div>

<!-- Modal loading images -->
<div id="modalImgLoad" class="w3-modal w3-black">
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
        <img id="img01" class="w3-image">
        <p id="caption" class="w3-opacity w3-large"></p>
    </div>
</div>

<script>
    function processImg(input){
        //lettura img
        let fr = new FileReader();
        fr.readAsBinaryString(input.files[0]);
        fr.onload = function(){
            //preparazione img per elaborazione
            $('#img01').attr('src', 'data:image/jpg;base64, '+ btoa(fr.result));
            //apertura modal
            $("#modalImgLoad").show();
            $("#caption").html("Analisi in corso ...");
            //analisi immagine
            const classifier =  ml5.imageClassifier('MobileNet');
            classifier.classify(document.getElementById("img01"), function(error, results){
                if(error){
                    $("#caption").html("Errore durante l'elaborazione dell'immagine :(<br>ricarica la pagina e riprova :)");
                }else{
                    let prob = (results[0].confidence * 100).toFixed(2);
                    let name = results[0].label;
                    //set delgi input
                    $("#nome").val(name);
                    $("#prob").val(prob / 100);
                    //sblocco comandi
                    $("#modalImgLoad").hide();
                    $("#imgElaborated").show();
                    $("#upImg").removeAttr("disabled");
                }
            });
        }
    }

    // Used to toggle the menu on small screens when clicking on the menu button
    function toggleFunction() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>