<html>
<head>
    <title>Classificatore immagini</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/p5.min.js"></script>
	<script src="https://unpkg.com/ml5@latest/dist/ml5.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
        body, html {
        height: 100%;
        color: #777;
        line-height: 1.8;
        }

        /* Create a Parallax Effect */
        .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        }

        /* First image (Logo. Full height) */
        .bgimg-1 {
        /*background-image: url('/w3images/parallax1.jpg');*/
        min-height: 100%;
        }

        .w3-wide {letter-spacing: 10px;}
        .w3-hover-opacity {cursor: pointer;}

        /* Turn off parallax scrolling for tablets and phones */
        @media only screen and (max-device-width: 1600px) {
            .bgimg-1, .bgimg-2, .bgimg-3 {
                background-attachment: scroll;
                min-height: 400px;
            }
        }

        .drop {
            display: inline-block;
        }
        .drop-content { 
            display: none;
            position: absolute;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
            padding: 12px 16px;
            right: 1%;
            z-index: 1;
        }
        .drop:hover .drop-content {
            display: block;
        }

    </style>
</head>
<body>
    <!-- Navbar (sit on top) -->
    <div class="w3-top">
        <div class="w3-bar" id="myNavbar">
            <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
                <i class="fa fa-bars"></i>
            </a>
            <a href="/img" class="w3-bar-item w3-button">HOME</a>
            <a href="/img/upload" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-solid fa-file"></i> UPLOAD</a>
            <div class="w3-bar-item w3-button w3-right w3-hide-small drop">
                <span><i class="fa fa-duotone fa-user"></i></span>
                <div class="drop-content">
                    <a href="/login/logout" class="w3-bar-item w3-button w3-hide-small">Logout</a>
                </div>
            </div>
        </div>

        <!-- Navbar on small screens -->
        <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
            <a href="upload" class="w3-bar-item w3-button" onclick="toggleFunction()"><i class="fa fa-solid fa-file"></i> UPLOAD</a>
            <a href="/login/logout" class="w3-bar-item w3-button" onclick="toggleFunction()">Logout</a>
        </div>
    </div>
    
    <!-- First Parallax Image with Logo Text -->
    <div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
        <div class="w3-display-middle" style="white-space:nowrap;">
        <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">UPLOAD PAGE</span>
        </div>
    </div>

    <!-- MAIN -->
    <div class="w3-content w3-container w3-padding-64" id="portfolio">    
        <form action="/img/save" method="post" enctype="multipart/form-data">
            <input type="file" name="img" id="imgInput" onchange="processImg(this)" accept="image/*">
            <input type="hidden" name="nome" id="nome">
            <input type="hidden" name="prob" id="prob">
            <input type="submit" value="upload" id="upImg" disabled> 
        </form>
        <p id="imgElaborated" style="display: none; color: green;">Immagine elaborata ;)</p>
        <% if(locals.err){ %>
            <p style="color: red;"> <%= err %></p>
        <% } %>
    </div>

    <!-- Modal loading images -->
    <div id="modalImgLoad" class="w3-modal w3-black">
        <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
            <img id="img01" class="w3-image">
            <p id="caption" class="w3-opacity w3-large"></p>
        </div>
    </div>

    <script>
        function processImg(input){
            //lettura img
            let fr = new FileReader();
            fr.readAsBinaryString(input.files[0]);
            fr.onload = function(){
                //preparazione img per elaborazione
                $('#img01').attr('src', 'data:image/jpg;base64, '+ btoa(fr.result));
                //apertura modal
                $("#modalImgLoad").show();
                $("#caption").html("Analisi in corso ...");
                //analisi immagine
                const classifier =  ml5.imageClassifier('MobileNet');
                classifier.classify(document.getElementById("img01"), function(error, results){
                    if(error){
                        $("#caption").html("Errore durante l'elaborazione dell'immagine :(<br>ricarica la pagina e riprova :)");
                    }else{
                        let prob = (results[0].confidence * 100).toFixed(2);
                        let name = results[0].label;
                        //set delgi input
                        $("#nome").val(name);
                        $("#prob").val(prob / 100);
                        //sblocco comandi
                        $("#modalImgLoad").hide();
                        $("#imgElaborated").show();
                        $("#upImg").removeAttr("disabled");
                    }
                });
            }
        }

        // Used to toggle the menu on small screens when clicking on the menu button
        function toggleFunction() {
            var x = document.getElementById("navDemo");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }
    </script>


<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off">
    <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
    <div class="w3-xlarge w3-section">
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <i class="fa fa-instagram w3-hover-opacity"></i>
      <i class="fa fa-snapchat w3-hover-opacity"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity"></i>
      <i class="fa fa-twitter w3-hover-opacity"></i>
      <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
  </footer>
</body>
